.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.container div {
    padding: 10px;
}

.container div:nth-child(2n+1) {
    background-color: black;
    color: white;
}

.container div:nth-child(2n) {
    background-color: lightgray;
}